{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Notes for {{ notebook.title }}{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <div class="flex items-center space-x-6">
        <h2 class="text-2xl font-semibold">
            <span> {% if notebook %} Notes of {{ notebook.title }}{% endif %} </span>
        </h2>
        <div class="bg-blue-100 text-blue-800 font-semibold px-4 py-2 rounded-lg shadow-md">
            Total Notes: {{ notes_count }}
        </div>
    </div>
    <div class="flex space-x-4">
        {% if notebook %}
            <button type="button" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition" onclick="openDeleteModal({{ notebook.pk }}, '{{ notebook.title }}', 'notebook')">
                Delete Notebook
            </button>
        {% endif %}
        <a href="{% url 'note_create' %}" class="bg-green-500 text-white px-4 py-3 rounded hover:bg-green-600 transition">
            + New Note
        </a>
    </div>
</div>
<form method="get" class="space-x-4 flex items-center flex-wrap mb-10 shadow-md hover:shadow-lg transition-shadow rounded-lg p-6 bg-white ">
    {% for field in note_filter.form %}
        <div class="flex items-center space-x-2 mb-2 py-1">
            <label for="{{ field.id_for_label }}" class="text-base text-gray-700">{{ field.label }}</label>
            <div class="flex items-center border border-gray-300 rounded text-base"> 
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div class="flex items-center space-x-2">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md flex items-center space-x-2 hover:bg-blue-600 transition">
            <i class="fas fa-filter mr-2 text-sm"></i> Apply Filters
        </button>
    </div>
</form>
{% if notes %}
    <div class="space-y-8">
        {% for note in notes %}
            <div class="bg-white border rounded-lg shadow-md p-6 transition-transform transform hover:-translate-y-2 hover:shadow-xl duration-300">
                <div class="mb-4">
                    <h3 class="text-2xl font-bold mb-2 text-blue-700 hover:text-blue-900 transition">
                        <a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a>
                    </h3>
                    <p class="text-gray-500 text-sm mb-2"><strong>Created:</strong> {{ note.created }}</p>
                    <p class="text-gray-500 text-sm mb-4"><strong>Last Modified:</strong> {{ note.modified }}</p>
                </div>
                
                <p class="text-gray-700 mb-4"><strong>Notebook:</strong> {{ note.notebook }}</p>
                <p class="text-gray-700 mb-4"><strong>Content:</strong> {{ note.content|strip_tags_and_truncate:50}}</p>
                
                {% if note.tags.all %}
                    <div class="mb-4">
                        <p class="text-gray-700"><strong>Tags:</strong></p>
                        <div class="flex flex-wrap gap-2 mt-2">
                            {% for tag in note.tags.all %}
                                <span class="bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-sm">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
                <div class="mt-6 pt-4 border-t flex justify-between items-center">
                    <a href="{% url 'note_detail' note.pk %}">
                        <button class="bg-blue-600 text-white px-5 py-2 rounded-md hover:bg-blue-700 transition duration-300">
                            <i class="fas fa-eye mr-2"></i> View Note
                        </button>
                    </a>
                    <div class="flex space-x-3">
                        <a href="{% url 'note_update' note.pk %}">
                            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
                                <i class="fas fa-pencil-alt mr-2"></i> Edit
                            </button>
                        </a>
                        <button type="button" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition" onclick="openDeleteModal({{ note.pk }}, '{{ note.title }}', 'note')">
                            <i class="fas fa-trash mr-2"></i> Delete
                        </button>
                    </div>
                </div>                
            </div>
            {% endfor %}
            {% include 'includes/pagination.html' with page_obj=notes %}
    </div>
{% else %}
    <p class="text-gray-600">No notes available for this notebook.</p>
{% endif %}
{% include 'includes/delete_model.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'notes/js/delete.js' %}"></script>
{% endblock %}
{% endblock %}